<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Lyrics</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="all-lyrics-header">
        <h1>Your Lyrics</h1>
        <a class="add-lyrics-link" href="/users/<%=user._id%>/lyrics/new">Add a Lyric</a>
    </div>
    <div class="all-lyrics-body">
        <ul>
            <% lyrics.forEach(lyric=> { %>
                <li>
                    <a class="lyrics-cards" href="/users/<%= user._id %>/lyrics/<%= lyric._id %>">
                        <%= lyric.title %> by <%= lyric.artist %>: <%= lyric.lyrics %>
                    </a>
                </li>
                <% }) %>
            </ul>
    </div>
</body>
</html>