<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=lyrics.title%></title>
    <link href="/public/stylesheets/style.css" rel="stylesheets" type="text/css">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= lyrics.title %> by <%= lyrics.artist %></h1>
    <p>Lyrics: <%= lyrics.lyrics %></p>
    <a href="/users/<%= user._id %>/lyrics/<%= lyrics._id %>/edit">
        Edit this Lyric
    </a>
    <form
        action="/users/<%=user._id%>/lyrics/<%= lyrics._id %>?_method=DELETE"
        method="POST"
    >
        <button type="submit">Delete this lyric</button>
    </form>
</body>
</html>