<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=lyrics.title%></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= lyrics.title %> by <%= lyrics.artist %></h1>
    <p>Lyrics: <%= lyrics.lyrics %></p>
    
</body>
</html>